@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Font overrides */
body {
    background-color: gray;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* * {
    outline: 1px solid red !important;
} */

/* Nav Bar */
header {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 40px;
}

header a {
    text-decoration: none;
    color: black;

    transition: color 0.15s ease-in-out;
}

header a:hover {
    color: gray;
}

header>a {
    margin-left: 24px;
}

header>nav {
    margin-right: 24px;

    display: flex;
    gap: 15px;
}

/* Section Card Template */
.card {
    background-color: white;
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

/* Make GlideJS take up the whole div */
.glide,
.glide__track,
.glide__slides,
.glide__slide {
    height: 100%;
    pointer-events: none;
}

/* Make img slide always fit the div */
.glide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Make GlideJS darker for hero banner text */
.glide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    pointer-events: none;
}

.glide {
    position: relative;
}

/* Put text in hero banner in the center */
.glide-hero {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.glide-hero h1 {
    font-size: 3rem;
}

.glide-hero p {
    font-size: 1.6rem;
    font-weight: 400;
}

/* Copyright Symbol */
.superscript {
    position: relative;
    top: -0.6em;
    font-size: 60%;
}

/* Calendar */
.calendar-card {
    height: 100%;
}

#calendar {
    width: 100%;
    padding: 50px;
}

/* Map needs a set height to work */
#map {
    height: 400px;
}